
/*header*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
body {
    background: #f2f2f2dc;
    line-height: 1.5;
 
}
 
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
 
a {
    text-decoration: none;
 
}
 
li a {
    font-weight: 500;
    color : #eb2bd1;
}
 
ul {
    list-style: none;
}


/* Header Section */
header {
    background: #fffbfb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}
 
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;    
}
 
.logo span {
    color: #8e0caf;
    font-weight: 600;
}
 
nav ul {
    display: flex;
    gap: 1.5rem;
}
 
nav ul li a {
    color: #000;
    font-weight: 500;
    transition: 0.3s ease;
}
 
nav ul li a:hover {
    color: #cc00ff;
}


   




/* service*/
.services .hero{
    text-align: center;

}
section{
    padding: 80px 50px;

}

h2{
    text-align: center;
    margin-bottom: 40px;
    
}
#serviceContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
    
.service-container button{
   width: 300px;
   height: 250px;
   cursor: pointer;
   margin: 20px;
   
}
.service-card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0);
}
.client-container button img{
    width: 230px;
    height: 90px;
    object-fit: contain;
    display: block;
    margin: 0 auto 10px;
    
}

.service-card button{
    margin-top: 10px;
    padding: 8px 15px;
}

.service-info{
    margin-top: 25px;
    background: blanchedalmond;
    padding: 50px;
    border-radius: 10px;
}

/*footer*/

footer{
    background:grey;
    color: white;
    text-align: center;
    padding: 30px;
}

footer button{
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
}
